ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 15%;
    font-size: small;
}

li a:hover {
    background-color: cornflowerblue;
}

#mainPageLink {
    color: white;
    text-align: center;
    text-decoration: none;
}

.rightNav {
    float: right;
}

#ofek-img {
    width: 10%;
    margin-bottom: 5%;
    margin-left: 3%;
    padding-right: 5%;
    margin-top: 5%;
    vertical-align: middle;
}