ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 15%;
    font-size: small;
}

li a:hover {
    background-color: cornflowerblue;
}

#mainPage {
    color: white;
    text-align: center;
    text-decoration: none;
}

.rightNav {
    float: right;
}

.usersTab {
    float: right;
}

td {
    text-align: center;
    padding: 3%;
    margin: auto;
    width: 100px;
}

.bordered {
    border: 3px solid lightgrey;
    width: 20%;
    text-align: center;
    margin: auto;
}

.bordered:hover {
    border: 3px solid silver;
}

.content {
    padding-left: 10%;
}

header {
    background-color: #0a64eb;
    color: azure;
}

#ofek-img {
    width: 10%;
    margin-bottom: 5%;
    margin-left: 3%;
    padding-right: 5%;
    margin-top: 5%;
    vertical-align: middle;
}

.header-li2 {
    float: left;
}

.header-li {
    margin-left: auto;
    padding-right: 5px;
    display: inline-block;
}

article {
    display: inline-block;
    vertical-align: middle;

}

aside {
    display: inline-block;
    vertical-align: middle;
}

#banner {
    font-size: larger;
    vertical-align: middle;
}

#message {
    border-color: blue;
    vertical-align: middle;
}

.followees {
    width: 15%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 2%;
}

.users {
    display: inline-block;
    line-height: 250%;
}

.title {
    text-align: center;
}

.tweet {
    width: 50%;
    text-align: left;
}

.tweet-avatar {
    display: inline-block;
    vertical-align: top;
}

.tweet-content {
    display: inline-block;
}

.avatar {
    margin-top: 10%;
}

.folowee-row {
    width: 60%;
}