.nav-blue {
    background-color: #0a64eb;
}

.white-font {
    color: white !important;
}

.move-down {
    margin-top: 3%;
}

.centered {
    text-align: center;
    margin: auto;
}

.ofek-logo {
    width: 10%;
    height: 10%;
}

.smaller {
    width: 60%;
}

.bordered {
    border: solid 5px #e6e6e6;
}