.nav-blue {
    background-color: #0a64eb;
}

.white-font {
    color: white !important;
}

.move-down {
    margin-top: 3%;
}

.centered {
    text-align: center;
    margin: auto;
}

.ofek-logo {
    width: 10%;
    height: 10%;
}

.smaller {
    width: 60%;
}

.bordered {
    border: 5px solid #e6e6e6;
}

.passed {
    width: 99%;
    background-color: lightgreen;
    border: 1px solid black;
}

.failed {
    width: 99%;
    background-color: lightcoral;
    border: 1px solid black;
}

#log-out {
    display: none;
}